/*////////////////////////////////////////////////////*/
/* General Setup */
/*////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdfdfd;
  font-family: "Nunito", sans-serif;
}
.container {
  width: 100vw;
  margin: auto;
}

/*////////////////////////////////////////////////////*/
/* Banner and header */
/*////////////////////////////////////////////////////*/

.header {
  background-image: url("https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80");
  background-size: cover;
  filter: saturate(2);
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 25px;
  align-items: top;
}
.title {
  color: #f9faf8;
  padding-left: 50px;
  font-size: 42px;
}

.login {
  text-align: right;
  padding-right: 50px;
  grid-column: 3;
}
.login-btn {
  border: none;
  border-radius: 24px;
  outline: none;
  background-color: rgba(36, 48, 55, 0.399);
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 0.2em 1em;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #0e0c83;
}

.focus_content {
  margin: auto;
  border-radius: 10px;
  color: white;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
}

.focus_content-title {
  font-size: 64px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.736);
  transition: all 3s step-start;
}
.focus_content-text {
  font-size: 24px;
  padding-bottom: 80px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.736);
}

.focus_content-btn {
  border-radius: 24px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 1.2em 2em;
  color: #387cdf;
  font-weight: 600;
  transition: all 0.3s ease;
}

.focus_content-btn:hover {
  background-color: #387cdf;
  color: #fff;
  cursor: pointer;
}
/*////////////////////////////////////////////////////*/
/*Nav Bar */
/*////////////////////////////////////////////////////*/
.body_nav {
  background-color: #0e0c83;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
}
.link {
  display: inline;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  margin: 5px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.862);
}

.navlink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navlink:hover::after {
  content: " ";
  border-radius: 50%;
  position: absolute;
  top: 745px;
  border: 50px solid rgb(255, 255, 255);
  transition: all 1s ease;
}

/*////////////////////////////////////////////////////*/
/* Main Body & Sections */
/*////////////////////////////////////////////////////*/
section {
  min-height: 150px;
  padding: 40px 80px;
  margin: auto;
}
.body-btn {
  border-radius: 24px;
  display: block;
  border: none;
  outline: none;
  background-color: rgb(1, 1, 49);
  padding: 1.2em 2em;
  margin: 2rem;
  color: #fff;
  font-weight: 600;
}
.body-btn:hover {
  background-color: #1411c7;
  color: #fff;
  transition: all 0.3s ease;
}
.body-btn:active {
  background-color: #ddd;
  color: #1411c7;
}
.card {
  background-size: contain;
  border-radius: 12px;
  width: 400px;
  grid-column: 2;
  height: 400px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.card h5 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  font-size: 48px;
  text-align: center;
}
/*////////////////////////////////////////////////////*/
/* About Section */
/*////////////////////////////////////////////////////*/
.about_content {
  width: 75%;
  background-color: #fdfdfd;
  text-align: center;
  padding: 120px 0 60px 0;
  border-bottom: 1px solid rgba(43, 47, 57, 0.1);
}
.about_content h3 {
  color: #151c34;
  font-size: 24px;
  margin: 16px;
}
.about_content-text {
  color: #6d6d6d;
  font-size: 18px;
  margin: auto;
  max-width: 900px;
}
/*////////////////////////////////////////////////////*/
/* Floorplans Section */
/*////////////////////////////////////////////////////*/
.floorplans {
  width: 75%;
  background-color: #fdfdfd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  border-bottom: 1px solid rgba(43, 47, 57, 0.1);
}

.floorplans h3 {
  grid-column: 1/3;
  font-size: 24px;
  width: 100%;
  padding: 50px;
}

.floorplans_content {
  grid-column: 1;
  padding: 30px 60px;
}

.floorplans_content-p {
  color: #6d6d6d;
  margin: 0 0 36px;
  font-size: 20px;
}

.floorplans_card-1 {
  background-image: url("https://images.unsplash.com/photo-1615528650248-8630bcd26814?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
  grid: column 3;
}
.floorplans_card-2 {
  grid: column 3;
  background-image: url("https://images.unsplash.com/photo-1618221639244-c1a8502c0eb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
}
.floorplans_card-3 {
  grid: column 4;
  background-image: url("https://images.unsplash.com/photo-1615529017597-d8ede38b6cad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
}
/*////////////////////////////////////////////////////*/
/* Amenities Section */
/*////////////////////////////////////////////////////*/
.amenities {
  width: 75%;
  background-color: #fdfdfd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  border-bottom: 1px solid rgba(43, 47, 57, 0.1);
}

.amenities h3 {
  grid-column: 1/3;
  font-size: 24px;
  padding: 50px;
  text-align: end;
}

.amenities_content {
  grid-column: 2;
  grid-row: 2;
  padding: 30px 60px;
}

.amenities_content p {
  color: #6d6d6d;
  margin: 0 0 36px;
  font-size: 20px;
}

.amenities_card-1 {
  background-image: url("https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
  grid-column: 1;
  grid-row: 2;
  margin: auto;
}

.amenities_card-2 {
  background-image: url("https://images.unsplash.com/photo-1572025442506-64f9e3525c6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.amenities_card-3 {
  background-image: url("https://images.unsplash.com/photo-1621275471769-e6aa344546d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80");
}

.amenities_card-4 {
  background-image: url("https://images.unsplash.com/photo-1564695105398-d8fd31436c42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
}

.amenities_card-5 {
  background-image: url("https://images.unsplash.com/photo-1540497077202-7c8a3999166f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

/*////////////////////////////////////////////////////*/
/* Testimonials Section */
/*////////////////////////////////////////////////////*/

.testimonials {
  width: 100%;
  /* background-color: #fdfdfd; */
  background-image: url("https://images.unsplash.com/photo-1581610489881-f316ffcf0424?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=800");
  background-size: 100%;
  filter: saturate(1.2);
  min-height: 700px;
  border-bottom: 1px solid rgba(43, 47, 57, 0.1);
}

.testimonials h3 {
  font-size: 24px;
  padding: 50px;
  /* text-shadow: 1px 1px #ccc; */
  color: #fff;
  text-align: start;
}

.testimonials_content {
  padding: 30px 20%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.862);
}

.testimonials_content p {
  color: #6d6d6d;
  margin: 0 0 36px;
  font-size: 20px;
  width: 75%;
  font-style: italic;
}
/*////////////////////////////////////////////////////*/
/* Contact Section */
/*////////////////////////////////////////////////////*/
.contact {
  width: 75%;
  background-color: #fdfdfd;
  /* padding: 100px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  border-bottom: 1px solid rgba(43, 47, 57, 0.1);
}

.contact h3 {
  grid-column: 1/3;
  font-size: 24px;
  padding: 50px;
  text-align: center;
}

.contact_content {
  grid-column: 1;
  grid-row: 2;
  padding: 30px 60px;
}

.contact_content p {
  color: #6d6d6d;
  margin: 0 0 36px;
  font-size: 20px;
  width: 75%;
}
.contact_form {
  grid-column: 2;
  padding: 30px 60px;
}

.contact_form input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.contact_form label {
  color: #6d6d6d;
  margin: 0 0 36px;
  font-size: 20px;
  width: 75%;
}

.contact_form-message {
  padding: 30px 0px;
}

/*////////////////////////////////////////////////////*/
/* Footer*/
/*////////////////////////////////////////////////////*/

.footer {
  /* background-color: #8251ad; */
  background-color: #000000;
  color: white;
  text-align: center;
  height: 10rem;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}

.footer_links {
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.footlink {
  text-decoration: none;
  padding: 4px 0px;
  color: #fff;
}
.footlink:hover {
  text-decoration: none;
  padding: 4px 0px;
}

.footlist {
  display: inline;
}

.footlist:hover {
  display: inline;
  font-weight: 700;
}

.footer_icons {
  font-size: 2rem;
}

.footer_contact-details {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5rem;
}
